<!-- Index page for an authenticated user, shows "Add Task" form, Sort By links, and the current user's personalized to-do list -->

<!-- Task Form -->
<div class="row">
    <div class="col-md-4">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.task.label }}<br>
                {{ form.task(cols=64, rows=2) }}<br>
                {% for error in form.task.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
</div>
<hr style="width: 100%; color: black; height: 1px; background-color:&9B9999;"/>
<!--    If viewing as descending, show dead link to Newest and Due Date, live link to Oldest. Else if viewing as ascending, show dead link to Oldest and Due Date, live link to Newest. Else if viewing by due date, show dead link to Oldest and Newest, live link to Due Date -->
<b>
Sort By:
{% if current_user.view_tasks_by_newest %}
    Newest |
    <a href="{{ url_for('oldest') }}">Oldest</a> |
    <a href="{{ url_for('view_by_due_date') }}">Due Date</a>
{% elif current_user.view_tasks_by_oldest %}
    <a href="{{ url_for('newest') }}">Newest</a> |
    Oldest |
    <a href="{{ url_for('view_by_due_date') }}"> Due Date</a>
{% elif current_user.view_tasks_by_due_date %}
    <a href="{{ url_for('newest') }}">Newest</a> |
    <a href="{{ url_for('oldest') }}">Oldest</a> |
    Due Date
{% endif %}
</b>
<hr style="width: 100%; color: black; height: 1px; background-color:&9B9999;" />

<!-- TO-DO TABLE OF TASKS -->
<div class = "panel panel-default" style="background-color:#e3f2fd;">
    <div class="row">
        <div class="col-md-8"><b>To Do</b></div>
        <div class="col-md-2"><b>Due</b></div>
        <div class="col-md-2"><b>Complete</b></div>
    </div>
</div>
    <br>
{% for task in tasks %}
<div class="row">
    <div class="col-md-8">
        <p>
            {{ task.body }}<br>
            {{ task.timestamp }}<br>
            ID: {{ task.id}}<br>
            {% if task.due_date %}

            <a href="{{ url_for('remove_due_date', task_id=task.id) }}">Remove Due Date</a>
            {% endif %}
        </p>
    </div>
    <div class="col-md-2">
        <p>
        {% if task.due_date %}

        {{ task.due_date.strftime('%m-%d-%Y') }}
        {% else %}
        <a href="{{ url_for('set_due_date', task_id=task.id) }}">[+]</a>
        {% endif %}
        </p>
    </div>
    <div class="col-md-2">
        <p>
        <a href="{{ url_for('delete_task', task_id=task.id) }}">[&#10003;]</a>
        </p>
    </div>
    <hr style="width: 100%; color: black; height: 1px; background-color:&9B9999;"/>

</div>
{% endfor %}
