{% extends "base.html" %}


{% block content %}
        <!-- if/else current user show username, else show just Hello -->
        {% if current_user.is_anonymous %}
        <h2>Welcome To The To-Do List</h2>

        <!-- implement links on 'register' and 'log in' -->
        <h4>
            To get started you can <a href="{{ url_for('register') }}">create an account</a> or <a href="{{ url_for('login') }}">log in</a>.
        </h4>

        {% else %}
        <div class="row">
            <div class="col-md-4">
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.task.label }}<br>
                        {{ form.task(cols=64, rows=2) }}<br>
                        {% for error in form.task.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>{{ form.submit() }}</p>
                </form>
            </div>
        </div>
        <hr>
        <!--    If viewing as descending, show dead link to Newest and Due Date, live link to Oldest. Else if viewing as ascending, show dead link to Oldest and Due Date, live link to Newest. Else if viewing by due date, show dead link to Oldest and Newest, live link to Due Date -->
        <b>
        Sort By:
        {% if current_user.view_tasks_by_newest %}
            Newest |
            <a href="{{ url_for('oldest') }}">Oldest</a> |
            <a href="{{ url_for('view_by_due_date') }}">Due Date</a>
        {% elif current_user.view_tasks_by_oldest %}
            <a href="{{ url_for('newest') }}">Newest</a> |
            Oldest |
            <a href="{{ url_for('view_by_due_date') }}"> Due Date</a>
        {% elif current_user.view_tasks_by_due_date %}
            <a href="{{ url_for('newest') }}">Newest</a> |
            <a href="{{ url_for('oldest') }}">Oldest</a> |
            Due Date
        {% endif %}
        </b>
        <hr>

        {% for task in tasks %}
        <p>
                 <b>ID:</b>         {{ task.id}}
            <br> <b>BODY:</b>       {{ task.body }}
            <br> <b>TIME:</b>       {{ task.timestamp }}
            <br> <b>DUE DATE:</b>   {{ task.due_date }}

            {% if task.due_date %}
            <br> <a href="{{ url_for('remove_due_date', task_id=task.id) }}">Remove Due Date</a>
            {% else %}
            <br> <a href="{{ url_for('set_due_date', task_id=task.id) }}">Set Due Date</a>
            {% endif %}

            <br> <a href="{{ url_for('delete_task', task_id=task.id) }}">Mark As Complete</a>
        </p>
        <hr>
        {% endfor %}

        {% endif %}

{% endblock content %}
